* {
  font-family: 'Roboto Condensed', sans-serif;
}

html, body {
  height: 100%;
}


body {
  /* background-image: url("https://i.imgur.com/wJT8dV2.jpg"); */
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 0;
}


.profile {
  background-color: #202021;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
/*
svg:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
} */
svg:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  // background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}


.profile-picture {
  box-sizing: border-box;
  /* max-width: 100%;
  max-height: 100%; */
  margin: 50px auto;
}

/* why doent inline block work with margin auto? */
img {
  width: 75%;
  height: 75%;
  margin: 0px auto;
  display: block;
  border-radius: 50%;
  border: 5px solid white;
  background-size: auto;
  text-align: center; */
}


.gmail, .github, .linkedin {
  height: 60px;
  fill: white;
  /* background-color: white; */
  display: block;
  margin: 20px auto;
}

.contact-info {
  margin: 10px;
}

.contact-info p {
  box-sizing: border-box;
  /* background-color: white; */
  color: white;
  font-size: 20px;
  width: 100%;
  margin: 0px;
  overflow-wrap: break-word;
  text-align: center;
}





.background {
  background-image: url("https://i.imgur.com/wJT8dV2.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  transform: scale(1.1)
}

.content {
  overflow: hidden;
}



.content h1 {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 20px;
  text-align: center;
}

/* STYLES/BUTTON HOVERS/EFFECTS */
